.phone-screen:has(.main-chat) .status-bar,
.phone-screen:has(.main-chat) .alt-header,
.phone-screen:has(.main-chat) .long-screen {
  background-color: #9fb9c6;
}

.phone-screen .long-screen {
  height: fit-content;
}

.chat__timestamp {
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
  margin: 20px 0px;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  animation: fadeIn 0.8s linear forwards;
  transform: translateY(30px);
  opacity: 0;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 15px;
}

.message__info {
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  max-width: 55%;
  padding: 12px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  line-height: 16px;
}

.message__author,
.message__time {
  color: rgba(0, 0, 0, 0.7);
}

.message__author {
  font-size: 13pt;
  font-weight: bold;
}

.message__time {
  font-size: 10pt;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: sticky;
  bottom: 0;
  width: var(--main-horizontal-length);
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 110%;
  position: relative;
}

.reply input {
  padding: 10px 15px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -4px;
  top: 2px;
}

.reply__column:last-child > i {
  top: 15px;
  right: 40px;
  font-size: 17pt;
}

.reply i {
  opacity: 0.5;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 450px;
  transform: translateX(-11.5%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}

/* 이하 메세지 애니메이션 파트*/

@keyframes fadeIn {
  from {
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row:nth-child(3) {
  animation-delay: 0.4s;
}

.message-row:nth-child(4) {
  animation-delay: 0.8s;
}

.message-row:nth-child(5) {
  animation-delay: 1.2s;
}

.message-row:nth-child(6) {
  animation-delay: 1.6s;
}

.message-row:nth-child(7) {
  animation-delay: 2s;
}

.message-row:nth-child(8) {
  animation-delay: 2.4s;
}

.message-row:nth-child(9) {
  animation-delay: 2.8s;
}

.message-row:nth-child(10) {
  animation-delay: 3.2s;
}

.message-row:nth-child(11) {
  animation-delay: 3.6s;
}

.message-row:nth-child(12) {
  animation-delay: 4s;
}

.message-row:nth-child(13) {
  animation-delay: 4.4s;
}

.message-row:nth-child(14) {
  animation-delay: 4.8s;
}

.message-row:nth-child(15) {
  animation-delay: 5.2s;
}

.message-row:nth-child(16) {
  animation-delay: 5.6s;
}

.message-row:nth-child(17) {
  animation-delay: 6s;
}

.message-row:nth-child(18) {
  animation-delay: 6.4s;
}

.message-row:nth-child(19) {
  animation-delay: 6.8s;
}

.message-row:nth-child(20) {
  animation-delay: 7.2s;
}

.message-row:nth-child(21) {
  animation-delay: 7.6s;
}

.message-row:nth-child(22) {
  animation-delay: 8s;
}
