.find-icons {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.find-icons__icon i {
  margin-top: 15px;
}

.find-icons__icon span {
  height: 65px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommended-friends {
  padding: 15px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  color: var(--gray);
  font-size: 10px;
}

.recommended-friends__text {
  font-size: 12pt;
  padding: 85px 0px;
  text-align: center;
}

.open-chat__header {
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
}

.open-chat__header :last-child {
  opacity: 0.5;
}

.open-post {
  padding: 11px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__column {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.open-post:last-child {
  border-top: 1pt solid rgba(0, 0, 0, 0.07);
}

.open-post__title {
  font-size: 12pt;
  font-weight: 600;
  display: block;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

.open-post__member-count {
  color: var(--gray);
}

.open-post__members .divider {
  background-color: rgba(0, 0, 0, 0.3);
  width: 1.5px;
  height: 15px;
  margin: 0px 5px;
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 50px;
  padding: 6px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 15px;
}

.open-post__heart-count span {
  margin-left: 5px;
}
