#friends-display-link {
  background-color: #fafafa;
  margin-bottom: 10px;
  margin-top: -10px;
  padding: 13px 0px;
  font-size: 10pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  margin: 0px 5px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  padding-top: 12px;
  border-top: var(--main-border);
}

.friends-screen__channel-header {
  margin-bottom: 14px;
  color: var(--gray);
  font-size: 1%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  color: #3c1e1e;
  position: absolute;
  width: var(--main-horizontal-length);
  height: 825px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
