#friends-display-link {
  background-color: #fafafa;
  margin: -7px 0 9px 0;
  padding: 16px 0;
  font-size: 12pt;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  margin: 0px 5px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  padding-top: 9px;
  border-top: var(--main-border);
}

.friends-screen__channel-header {
  margin: 4px 0px;
  color: var(--gray);
  font-size: 10pt;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
