.welcome-header {
  margin: 67px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 25px;
  font-size: 16pt;
  color: black;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.8;
  font-size: 10pt;
  line-height: 13pt;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 18px 0px;
  font-size: 12pt;
}

#login-form input:nth-child(n + 2) {
  margin-bottom: 28px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid var(--gray);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: var(--gray);
  font-size: 12pt;
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  font-size: 13px;
}
