.settings__setting {
  padding: 20px 0px;
  border-bottom: var(--main-border);
  font-size: 13pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  opacity: 0.6;
  margin-right: 15px;
  font-size: 14pt;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}
