.alt-header {
  width: var(--main-horizontal-length);
  padding: 20px 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 24px;

  box-sizing: border-box;
}

.alt-header__column {
  width: 33%;
  font-size: 15pt;
  font-weight: 600;
}

.alt-header__title {
  font-size: 17pt;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column:last-child i {
  margin-left: 25px;
}
