.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 15px 0px;
  border-top: var(--main-border);
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  color: #2f363e;
}

.nav__notification {
  position: absolute;
  left: 16px;
  bottom: 11px;
}
